{% extends "layout.html" %}

{% block title %}
    Fantasy Football Fantasy
{% endblock %}

{% block main %}

    <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div id="secretnav">
        <h1>Mobile Navigation:</h1>
          <ul>
          <a href="/">Home</a>    <a href="/playoffs">Playoffs and Prizes</a>    <a href="/stats">Stats</a>
          </ul>
      </div>
      <h1 class="h2">What's New</h1>
      <span>And that concludes the regular season!
        <ul>
          <li>This site doesn't work very well on mobile. I'll update it for next year.</li>
        </ul>
      </span>
      <h1 class="h2"></h1>
      <span>{{ welcome[1] }}
        <ul>
          <li>{{ welcome[2] }}</li>
        </ul>
      </span>
    </div>


            <h3>Current Rankings Through Week {{ current_week }}</h3> 
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th><a href="/">Rank</a></th>
                    <th>Owner</th>
                    <th><a href="/total_wins">Total Wins</a></th>
                    <th><a href="/total_points">Total Points</a></th>
                    <th><a href="/average_score">Average Score</a></th>
                    <th>Avg Last 3</th>
                    <th><a href="/h2h">H2H Wins</a></th>
                    <th><a href="/top6">Top Six Finishes</a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in sortedbywin %}
                    <tr> 
                      <td>{{ loop.index }}</td>
                      <td>{{ info.owner }}</td>
                      <td>{{ info.total_wins }}</td>
                      <td>{{ info.total_points }}</td>
                      <td>{{ (info.total_points / current_week) | round(1, 'ceil')}}</td>
                      <td>{{ (((info[current_week +3] | int) + (info[current_week +4] | int)+ (info[current_week +5] | int))/ 3) | round | int }}</td>
                      <td>{{ info.wins }}</td>
                      <td>{{ info.top6 }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              
            {% if some_week %}
            <h3>Week {{ week }} Scores</h3> 
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="width:50%">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Owner</th>
                    <th>Scores</th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in week_scores %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ info[1] }}</td>
                      <td>{{ info[0] }}</td>
                    </tr>
                  {% endfor %}
                  <tr class="border top">
                    <td>Total Week Scoring</td>
                    <td></td>
                    <td><strong>{{ score_counter }}</strong></td>
                  </tr>
              </table>
            </div>
            {% endif %}

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">VIEW WEEK</a>
                </li>
                <li class="page-item"><a class="page-link" href="/1">1</a></li>
                <li class="page-item"><a class="page-link" href="/2">2</a></li>
                <li class="page-item"><a class="page-link" href="/3">3</a></li>
                <li class="page-item"><a class="page-link" href="/4">4</a></li>
                <li class="page-item"><a class="page-link" href="/5">5</a></li>
                <li class="page-item"><a class="page-link" href="/6">6</a></li>
                <li class="page-item"><a class="page-link" href="/7">7</a></li>
                <li class="page-item"><a class="page-link" href="/8">8</a></li>
                <li class="page-item"><a class="page-link" href="/9">9</a></li>
                <li class="page-item"><a class="page-link" href="/10">10</a></li>
                <li class="page-item"><a class="page-link" href="/11">11</a></li>
                <li class="page-item"><a class="page-link" href="/12">12</a></li>
                <li class="page-item"><a class="page-link" href="/13">13</a></li>
              </ul>
            </nav>
            
          {% endblock %}
       