{% extends "layout.html" %}

{% block title %}
    Fantasy Football Fantasy
{% endblock %}

{% block main %}
  
            <h2>Current Rankings</h2> 
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Owner</th>
                    <th>Total Wins</th>
                    <th>Total Points</th>
                    <th>H2H Wins</th>
                    <th>Top Six Finishes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in sortedbywin %}
                    <tr> 
                      <td>{{ loop.index }}</td>
                      <td>{{ info.owner }}</td>
                      <td>{{ info.total_wins }}</td>
                      <td>{{ info.total_points }}</td>
                      <td>{{ info.wins }}</td>
                      <td>{{ info.top6 }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              
            {% if some_week %}
            <h2>Week {{ week }} Scores</h2> 
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="width:50%">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Owner</th>
                    <th>Scores</th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in week_scores %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ info[1] }}</td>
                      <td>{{ info[0] }}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
            {% endif %}
            <h2>Projected Prize Distribution</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>1st Place ($25) -BYE-</th>
                      <th>2nd Place ($20) -BYE-</th>
                      <th>Third Place ($15)</th>
                      <th>Reg Season Most PF ($30)</th>
                      <th>5th Seed - Wild Card</th>
                      <th>6th Seed - Wild Card</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr> 
                        <td>{{ sortedbywin[0].owner }}</td>
                        <td>{{ sortedbywin[1].owner }}</td>
                        <td>{{ sortedbywin[2].owner }}</td>
                        <td>{{ mostpf.owner }}</td>
                        <td>{{ sortedbywin[4].owner }}</td>
                        <td>{{ sortedbywin[5].owner }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>

              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">VIEW WEEK</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="/1">1</a></li>
                  <li class="page-item"><a class="page-link" href="/2">2</a></li>
                  <li class="page-item"><a class="page-link" href="/3">3</a></li>
                  <li class="page-item"><a class="page-link" href="/4">4</a></li>
                  <li class="page-item"><a class="page-link" href="/5">5</a></li>
                  <li class="page-item"><a class="page-link" href="/6">6</a></li>
                  <li class="page-item"><a class="page-link" href="/7">7</a></li>
                  <li class="page-item"><a class="page-link" href="/8">8</a></li>
                  <li class="page-item"><a class="page-link" href="/9">9</a></li>
                  <li class="page-item"><a class="page-link" href="/10">10</a></li>
                  <li class="page-item"><a class="page-link" href="#">11</a></li>
                  <li class="page-item"><a class="page-link" href="#">12</a></li>
                  <li class="page-item"><a class="page-link" href="#">13</a></li>
                </ul>
              </nav>
            
          {% endblock %}
       